.navbar-main-div {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 100%;
  background-color: #000000f1;
}

* {
  font-family: sans-serif;
}

.navbar-div {
  position: fixed;
  display: flex;
  justify-content: space-between;
  height: 70px;
  width: 95vw;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.733);
}

.navbar-list-name ul {
  list-style: none;
  height: 70px;
  width: 35vw;
  background-color: #fff;
  justify-content: space-evenly;
  display: flex;
  align-items: center;
  padding: 0;
}

.navbar-icons-div {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 70px;
  width: 35vw;
  background-color: #fff;
}
.navbar-logo {
  display: flex;
  align-items: center;
  height: 70px;
  width: 25vw;
  background-color: #fff;
}
.ShoppingCartIcon {
  height: 40px;
  width: 30px;
  cursor: pointer;
}
.ShoppingCartLogo {
  height: 80px;
  width: 70px;
  margin-left: 14px;
  filter: brightness(0);
}

.nav-icons-subdiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  width: 8vw;
}

/* search bar */

.navbar-search {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 20vw;
}

.nav-notification-icon {
  position: absolute;
  margin-left: 13px;
  height: 20px;
  width: 20px;
}

.nav-notification-icon-number {
  position: relative;
  font-size: xx-small;
  color: #fff;
  top: 7px;
}

.notification-round {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 13px;
  height: 19px;
  padding: 7px;
  width: auto;
  background-color: red;
  border-radius: 50%;
}

.nav-loginuserbg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  font-size: x-large;
  border-radius: 50%;
  cursor: pointer;
  color: #fff;
}
