.product-container {
    display: flex;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 5px;
  }
    .product-image  {
      flex: 1;
      padding: 10px;
  
      img {
        max-width: 100%;
        height: auto;
      }
    }
  
    .product-details {
      flex: 2;
      padding: 10px;
    }
      .product-title {
        font-size: 32px;
        margin-bottom: 10px;
        color: black;
        font-family: 'REM', sans-serif;
      }
  
      .product-price {
        font-size: 30px;
        color: #ff0000;
                
      }
  
      .product-description {
        font-size: 16px;
        color: #666;
        margin-top: 10px;
        text-align: left;
      }
  
      .add-to-cart {
        background-color: #e91e63;
        color: #fff;
        width: 550px;
        border: none;
        padding: 10px 18px;
        font-size: 16px;
        cursor: pointer;
        border-radius: 5px;
        margin-top: 20px;
      }
  
      .buy-button{
          background-color: #005ff7;
        color: #fff;
        border: none;
        padding: 10px 27px;
        font-size: 16px;
        cursor: pointer;
        border-radius: 5px;
        margin-top: 20px;
        width: 550px;
  
      }
  
      .add-to-cart:hover {
        background-color: #f00000;
        transform: scale(1.05); 
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); 
      }
     
      .buy-button:hover{
        background-color: #210947;
        transform: scale(1.05); 
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);

      }
      
      @media (max-width: 768px) {
        .product-container {
          flex-direction: column; 
        }
      
        .product-details {
          padding: 10px;
          text-align: center; 
        }
      }
      
       @media (max-width: 515px) {
        .product-image img{
          height: 400px;
          width:350px;
        }
       }
       @media (max-width: 392px) {
        .product-image img{
          height: 300px;
          width:240px;
        }
       }