/* addproducts.css */

/* Container styles */
.new-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Heading styles */
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  /* Form styles */
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  input[type="text"],
  input[type="number"],
  textarea {
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  textarea {
    resize: horizontal;
  }
  
  /* Button styles */
  .add-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .add-button:hover {
    background-color: #0056b3;
  }
  form{
    margin: 70px;
  }
  