.product-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.product-table th,
.product-table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

.product-table th {
  background-color: #f2f2f2;
}

.product-table img {
  max-width: 50px;
  max-height: 50px;
}

.product-table button {
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.product-table button:hover {
  background-color: #0056b3;
}
.edit-button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 8px;
}

.edit-button:hover {
  background-color: #45a049;
}
.delete-button {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 8px;
}

.delete-button:hover {
  background-color: #d32f2f;
}
.scroll-container {
  height: 100vh;
  overflow-y: scroll;
}
